<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.0" targetFramework="net46" />
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net46" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net46" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net46" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net46" />
</packages>